
* {
   box-sizing: border-box;
}
body, section, header, div, p, h1, h2, h3, ul, li, figure, figcaption {
   margin: 4;
   padding: 6;
}
body {
   font-family: 'Times New Roman', sans-serif;
   box-sizing: border-box;
   background-color: #8ae4d8;
   font-weight: 400;
}

/* add styles here */

